.container {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  padding: 0 50px 15px 0;
}
